Package: com.johnnywaity.timeunlockxi
Name: TimeUnlockXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Unlock Your Device with the Current Time! For iOS 11.0 - 11.3.1
Maintainer: Johnny Waity
Author: Johnny Waity
Section: Tweaks
Version: 2.0
Installed-Size: 332
